// FONTS
@import url('http://fonts.cdnfonts.com/css/inter');

$font: 'Inter', sans-serif;
// COLORS

$primary: #6200EE;
$primary-2: #3700B3;
$secondary: #03DAC6;
$secondary-2: #018786;

$background: #FFFFFF;
$surface: #FFFFFF;
$error: #B00020;

$on-primary: #FFFFFF;
$on-secondary: #000000;
$on-background: #000000;
$on-surface: #000000;
$on-error: #FFFFFF;

// MIXINS

@mixin sm {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin md {
    @media screen and (min-width: 800px) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: 1050px) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: 1250px) {
        @content;
    }
}

// RESET

* {

  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;

  *::-webkit-scrollbar {
      width: 0;
  }

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

// GENERAL

// body {

//     display: grid;

//     @include sm {
//         grid-template-columns: 30% 1fr;
//     }

//     @include md {
//         grid-template-columns: 20% 1fr;
//     }


// }

.warning {
    background-color: $background !important;
    border: 1px solid $error !important;
    color: $error !important;

    &:hover {
        color: $background !important;
        background-color: $error !important;
    }

}

.warning-bg {
    background-color: $error !important;
}

// SPECIFIC

#not-supported {

    height: 100vh;
    width: 100%;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    
    padding: 2em;

    .row {

        width: 100%;
        height: 50%;

        display: flex;

        &--upper {

            align-items: center;
            justify-content: center;
            
            h1 {
                font-size: 3em;
                word-wrap: break-word;
                text-align: center;
            }

        }

        &--lower {

            align-items: flex-end;
            justify-content: center;

            ul {

                display: flex;

                li {
                    margin: 0 10px;
                    padding: 8px 16px;
                    background-color: $on-background;
                    color: $background;
                    border-radius: 4px;
                }

            }

        }

    }

    @include sm {
        display: none;
    }

}

#controls {

    display: none;
    flex-direction: column;
    border-right: 2px solid $primary;
    background-color: $primary;
    color: $on-primary;

    .row {

        display: flex;

        &--upper {

            padding-top: 10px;
            padding-left: 15px;
            padding-right: 5px;
            justify-items: flex-start;
            align-items: center;
            margin-bottom: 25px;

            .logo {

                display: flex;
                align-items: center;
                justify-items: flex-start;
                width: 100%;

                img {
                    width: 30px;
                    height: auto;
                    margin-right: 15px;
                    border-radius: 4px;
                }

                h2 {
                    font-size: 1em;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 400;
                }

            }

        }

        &--lower {

            justify-content: flex-start;
            flex-direction: column;
            height: 100%;

            ul.controls {

                display: flex;
                flex-direction: column;
                width: 100%;

                li {

                    margin: 0 15px;
                    margin-bottom: 15px;
                    padding: 10px;
                    background-color: $primary;
                    border-radius: 4px;
                    
                    background: rgba( 255, 255, 255, 0.25 );
                    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                    backdrop-filter: blur( 4px );
                    -webkit-backdrop-filter: blur( 4px );
                    border-radius: 10px;
                    border: 1px solid rgba( 255, 255, 255, 0.18 );

                    a {

                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding-left: 15px;
                        padding-right: 5px;

                        .icon {
                            width: 20px;
                            height: auto;
                            margin-right: 15px;
                        }

                        span {
                            font-size: 12px;
                        }

                    }

                }

            }

            .info {

                margin-top: auto;

                ul {

                    display: flex;
                    padding: 15px;
                    align-items: center;
                    justify-content: center;

                    li {

                        margin: 0 15px;

                        &:first-child{
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            font-size: 12px;
                            text-decoration: underline;
                            color: $secondary;
                        }

                    }

                }

            }

        }

    }

    @include sm {
        display: flex;
    }

}

#page {

    display: none;
    
    flex-direction: column;

    height: 100vh;
    width: 100%;
    
    header {

        height: 10%;
        display: flex;

        .column {

            display: flex;
            width: 50%;
            height: 100%;

            padding: 2em;

            &--left {
                padding-right: 0;
            }

            &--right {

                padding-left: 0;
                justify-content: flex-end;
                align-items: center;

                ul {

                    display: flex;
                    align-items: center;

                    li {

                        margin-left: 15px;

                        a {
                            padding: 8px 16px;
                            background-color: $primary;

                            border-radius: 4px;
                            font-size: 14px;
                            color: $secondary;

                        }

                    }

                }

            }

        }

    }

    main {

        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        #content {
            
            width: 100%;
            display: flex;  
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: scroll;

            .functionality {

                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                margin-bottom: 25px;

                .column {
                    display: flex;
                    width: 50%;
                }

                .column--left {
                    
                    flex-direction: column;
                    
                    padding: 15px;
                    margin-left: 25px;

                    background: rgba( 255, 255, 255, 0.25 );
                    box-shadow: 0 8px 15px 0 rgba( 31, 38, 135, 0.37 );
                    backdrop-filter: blur( 4px );
                    -webkit-backdrop-filter: blur( 4px );
                    border-radius: 8px;
                    border: 1px solid rgba( 255, 255, 255, 0.18 );

                    h3 {
                        color: $primary;
                        margin-bottom: 10px;
                    }

                    p {
                        color: $on-background;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }

                    a {

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        font-size: 14px;
                        padding: 8px 16px;
                        background-color: $secondary-2;
                        color: $background;
                        
                    }

                }

            }

            // VMACHINES
            .list {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                flex-wrap: wrap;

                width: 100%;

                padding: 25px;
                padding-bottom: 0;

                li {

                    margin: 0 15px;
                    height: 200px;
                    width: 30%;
                    margin-bottom: 25px;
                    padding: 15px;

                    background: rgba( 255, 255, 255, 0.25 );
                    box-shadow: 0 8px 15px 0 rgba( 31, 38, 135, 0.37 );
                    backdrop-filter: blur( 4px );
                    -webkit-backdrop-filter: blur( 4px );
                    border-radius: 8px;
                    border: 1px solid rgba( 255, 255, 255, 0.18 );
                    
                    position: relative;

                    .systemImage {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 20%;
                        height: auto;
                        z-index: -50;
                        opacity: 0.3;
                    }

                }

            }

            .machine {

                display: flex;
                flex-direction: column;
                font-size: 12px;

                width: 100%;
                height: 100%;

                .row {
                    display: flex;
                }

                .row--upper {

                    margin-bottom: 10px;

                    .column {

                        width: 50%;
                        display: flex;
                        align-items: center;

                        &--left {
                            justify-content: flex-start;

                            h3 {
                                font-size: 16px;
                            }

                        }

                        &--right {
                            justify-content: flex-end;
                        }

                    }
                }

                .row--lower {

                    height: 100%;
                    flex-direction: column;

                    .group {
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .controls {

                        margin-top: auto;
                        display: flex;

                        a {
                            padding: 6px 10px;
                            color: $primary;
                            border: 1px solid $primary;
                            border-radius: 4px;
                            background-color: transparent;

                            &:hover {
                                background-color: $primary;
                                color: $background;
                            }

                        }

                        .column {
                            width: 50%;
                            display: flex;
                        }

                        .column--right {
                            justify-content: flex-end;
                        }

                    }

                }

            }

        }

        #information {

            box-sizing: border-box;
            display: flex;
            width: 100%;
            padding: 20px;
            margin-top: auto;

            .column {

                display: flex;
                align-items: center;
                width: 50%;

                &--right {
                    justify-content: flex-end;

                    p {
                        opacity: 0.6;
                    }

                }

                ul {

                    display: flex;
                    align-items: center;

                    img {
                        height: 20px;
                        border-radius: 4px;
                        width: auto;
                        margin-right: 10px;
                    }

                    li {
                        display: flex;
                        margin-right: 25px;
                        align-items: center;
                        text-transform: uppercase;
                        font-size: 12px;
                    }

                }

            }

        }

    }

    @include sm {
        display: flex;
    }

}

.metrics {

    // z-index: -5;

    width: 100%;
    min-height: 150px;
    max-height: 250px;

    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    .group {

        width: 28%;
        height: 100%;
        background-color: blue;

        margin: 0 15px;

        padding: 15px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: $background;
        box-shadow: 0 8px 15px 0 rgba( 31, 38, 135, 0.10 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 3px solid rgba( 255, 255, 255, 0.18 );

        color: $primary;

        &:hover {
            border: 3px solid $primary;
        }

    }

    
    @include sm {
        min-height: 200px;
    }

    @include lg {
        min-height: 250px;
    }

}

.information {
    
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 25px;
    
    width: 100%;
    margin-top: 15px;

    table {

        border-spacing: 0;
        overflow: hidden;

        width: 100%;

        background: $background;
        box-shadow: 0 8px 15px 0 rgba( 31, 38, 135, 0.10 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
    
        th {
            background-color: $secondary;
            color: $primary;
        }
    
        th, td {
            padding: 20px;
        }
    
        tbody {
    
            tr {
                :first-child {
                    width: 40%;
                }
            }

            td {
                border-bottom: 1px solid #E6E6E6;
            }
    
            :last-child {
                td {
                    border-bottom: 2px solid $primary;
                }
            }
    
            tr {
                
    
    
                &:nth-child(even){
                    background-color: #F3F3F3;
    
                    td {
                        color: $primary;
                        font-weight: 500;
                    }
    
                }
    
            }
    
        }
    
    }

}

#login {

    width: 100%;
    height: 100vh;

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .logo {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-bottom: 50px;

        h1 {
            
            display: flex;
            align-items: center;
            justify-content: center;

        }

        img {
            height: 50px;
            margin-right: 15px;
            border-radius: 8px;
        }

    }

    form {

        position: relative;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 0 40px rgba($color: #000000, $alpha: 0.05);

        .group {
            margin-bottom: 25px;
            display: flex;
            color: $primary;
            flex-direction: column;
        }

        label {
            margin-bottom: 10px;
        }

        input {
            padding: 8px 16px;
            appearance: none;
            background-color: transparent;
            border: 1px solid black;
            border-radius: 4px;
            outline: none;
        }

        input[type="text"],
        input[type="password"] {
            
            &:focus {
                border: 1px solid $primary;
                color: $primary;
            }

        }

        input[type="submit"]{
            cursor: pointer;
            width: 100%;
            padding: 12px;
            border: 0;
            font-size: 12px;
            font-weight: bold;
            color: $background;
            text-transform: uppercase;
            background-color: $primary;
        }

    }

    .information {

        margin-top: 100px;

        ul {
            display: flex;

            li {
                margin: 0 25px;

                a {
                    padding: 9px 18px;
                    background: linear-gradient(to right, $primary, $secondary);
                    border-radius: 4px;
                    color: $background;
                    box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.1);
                }

            }

        }

    }

    @include sm {
        display: flex;
    }

    .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        border-radius: 8px;
        display: none;
        align-items: center;
        justify-content: center;
    
        &.active {
            display: flex;
        }
    
    }
    
    .lds-grid {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-grid div {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #fff;
      animation: lds-grid 1.2s linear infinite;
    }
    .lds-grid div:nth-child(1) {
      top: 8px;
      left: 8px;
      animation-delay: 0s;
    }
    .lds-grid div:nth-child(2) {
      top: 8px;
      left: 32px;
      animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(3) {
      top: 8px;
      left: 56px;
      animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(4) {
      top: 32px;
      left: 8px;
      animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(5) {
      top: 32px;
      left: 32px;
      animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(6) {
      top: 32px;
      left: 56px;
      animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(7) {
      top: 56px;
      left: 8px;
      animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(8) {
      top: 56px;
      left: 32px;
      animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(9) {
      top: 56px;
      left: 56px;
      animation-delay: -1.6s;
    }
    @keyframes lds-grid {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
    }

}