@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";

// RESET
* {

  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;

  *::-webkit-scrollbar {
      width: 0;
  }

}

html {
  scroll-behavior: smooth;
}

#root {
  font-family: $font;
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}